<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> SmartCash Expert System </title>
        <style>
            button:hover {
                background-color: white !important; 
                color: #12294e !important; 
                border: 2px solid #12294e; 
            }
        </style>
    </head>

    <body style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 0; padding: 0; height: 100%;">

        <div style="background-image: url('/static/pictures/bg_home.png'); 
            background-size: cover; background-position: center; background-repeat: no-repeat; 
            position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: -1;">
            
            <div style="padding-left: 320px; padding-top: 80px; ">
                <div style="width: 480px; height: 250px;">
                    <p style="font-family: Arial, Helvetica, sans-serif; font-weight: 400;
                    font-size: 30px; color: #12294e;
                    ">Smart Cash Services <br> <br>
                    <span style="color: #12294e; font-size: 70px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                    font-weight: 900;"> Financial <br> Expert System </span>
                </p>
                </div>
                <br>
                <div style="width: 480px; height: 150px; ">
                    <div style="text-align: center;">
                        <p style="font-family: Arial, Helvetica, sans-serif; font-weight: 400;
                        font-size: 25px; color: #12294e;
                        ">Get started:</p>
                    </div>
                    <div>
                        <button onclick="location.href='{{ url_for('signin') }}';" style="border: none; color: white; background-color: #12294e; border-radius: 35px; 
                        padding: 15px 70px 15px 70px; font-weight: 600; font-size: 20px; margin-right: 50px; cursor: pointer;">
                            LOGIN
                        </button>
                        <button onclick="location.href='{{ url_for('signup') }}'; "style="border: none; color: white; background-color: #12294e; border-radius: 35px; 
                        padding: 15px 70px 15px 70px; font-weight: 600; font-size: 20px; cursor: pointer;">
                            SIGN UP
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>